//////////////////////
//LOGO
.logo {
    height: 3.25rem;
    margin-left: 3rem;
}


//////////////////////
// SEARCH

.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center; //center elements along the CROSS AXIS
    justify-content: center; //center elements along the MAIN AXIS

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .8rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3em;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none; 
        }

        &:active {
            transform: translateY(2px) //moving down when clicked
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3); //change color of icon svg file
    }
}





//////////////////////
// USER NAVIGATION

.user-nav {

    background-color: greenyellow;
    &__icon-box {

    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
    }

    &__notification {

    }

    &__user {

    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
    }

    &__user-name {

    }

}